<md-dialog class="pip-dialog pip-picture-url-dialog pip-picture-dialog layout-column"
           md-theme="{{ $ctrl.theme }}">

    <md-dialog-content class="pip-body lp0 rp0 tp0 pip-scroll">
        <div class="pip-header bm16 layout-row layout-align-start-center">
            <md-button  ng-click="$ctrl.onCancelClick()" class="md-icon-button lm0"
                        aria-label="{{ ::'CANCEL' | translate }}">
                <md-icon class="text-grey" md-svg-icon="icons:arrow-left"></md-icon>
            </md-button>
            <h3 class="text-title m0">
                {{ ::'PICTURE_FROM_WEBLINK' | translate}}
            </h3>
        </div>

        <div class="pip-content  lm6 rm16">
            <md-input-container md-no-float class="w-stretch text-subhead1 ">
                <input type="text" ng-model="$ctrl.url" ng-change="$ctrl.checkUrl()" placeholder="{{ ::'LINK_PICTURE' | translate }}"/>
            </md-input-container>

            <div class="w-stretch layout-row layout-align-center-center"
                 ng-hide="$ctrl.invalid">
                <img id="url_image"/>
            </div>

            <div class="pip-no-images layout-row layout-align-center-center" ng-show="$ctrl.invalid">
                <md-icon class="text-grey" md-svg-icon="icons:images"></md-icon>
            </div>

        </div>
    </md-dialog-content>
    <div class="pip-footer">
        <md-button ng-click="$ctrl.onCancelClick()" aria-label="{{ ::'CANCEL' | translate }}">
            {{ ::'CANCEL' | translate }}
        </md-button>

        <md-button class="md-accent" ng-click="$ctrl.onAddClick()" ng-disabled="$ctrl.invalid"
                   aria-label="{{ ::'ADD' | translate }}">
            {{ ::'ADD' | translate }}
        </md-button>
    </div>
</md-dialog>